<div class="container">
  <h2>Albums</h2>
  <p>by artist <%= link_to @artist.name, @artist %></p>

  <table class="table">
    <thead>
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @albums.each do |album| %>
        <tr>
          <td><%= album.id %></td>
          <td><%= album.name %></td>
          <td><%= album.description %></td>
          <td><%= link_to "View", album, class: "btn btn-sm btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
